<ul id="side-menu" class="nav">
	<li>
		<a href="{{site.baseurl}}/index">Home</a>
	</li>
	<!-- <li>
		<a href="{{site.baseurl}}/page1">Link1</a>
	</li>
	<li>
		<a href="{{site.baseurl}}/page2">Link2</a>
	</li>
	<li>
		<a href="{{site.baseurl}}/page3">Link3</a>
	</li>
	-->
	<li class="">
		<a href="#">Ontology<span class="fa arrow"></span></a>
		<ul class="nav nav-second-level collapse">
			<li>
				<a href="{{site.baseurl}}/ontology/home">Ontology home</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/ontology/how-to-use">How to use?</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/ontology/running-ontology-example">Java example</a>
			</li>
		</ul>
		<!-- /.nav-second-level -->
	</li>
	
	<!--<li class="">
		<a href="#">Ontology<span class="fa arrow"></span></a>
		<ul class="nav nav-second-level collapse">
			<li>
				<a href="http://onto.openspinoza.org/car" target="_blank">Car</a>
			</li>
			<li>
				<a href="http://onto.openspinoza.org/datascience" target="_blank">Data science</a>
			</li>
			<li>
				<a href="http://onto.openspinoza.org/lifestyle" target="_blank">Lifestyle</a>
			</li>
			<li>
				<a href="http://onto.openspinoza.org/politics" target="_blank">Politics</a>
			</li>
			<li>
				<a href="http://onto.openspinoza.org/newspaper" target="_blank">Newspaper</a>
			</li>
				<li>
				<a href="http://onto.openspinoza.org/sportsteam" target="_blank">Sports team</a>
			</li>
		</ul>
	</li> -->
	<li class="">
		<a href="#">Twitter Swiss Army<span class="fa arrow"></span></a>
		<ul class="nav nav-second-level collapse">
			<li>
				<a href="{{site.baseurl}}/tsak/home">Swiss home</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/tsak/setup">Setup</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/tsak/commands">TSAK commands</a>
			</li>
			<!-- <li>
				<a href="{{site.baseurl}}/tsak/quickstart">Quick Start</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/tsak/example-tutorial">Example Tutorials</a>
			</li> -->
		</ul>
		<!-- /.nav-second-level -->
	</li>
		<li class="">
		<a href="#">WordCrowd<span class="fa arrow"></span></a>
		<ul class="nav nav-second-level collapse">
			<li>
				<a href="{{site.baseurl}}/wordcrowd/home">WordCrowd home</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/wordcrowd/setup">Setup</a>
			</li>
		</ul>
		<!-- /.nav-second-level -->
	</li>
			<li class="">
		<a href="#">Twitter Grapher<span class="fa arrow"></span></a>
		<ul class="nav nav-second-level collapse">
			<li>
				<a href="{{site.baseurl}}/twittergrapher/home">Twitter Grapher home</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/twittergrapher/setup">Setup</a>
			</li>
		</ul>
		<!-- /.nav-second-level -->
	</li>
</ul>